.home {
  height: 100%;
}

.input-row {
  >form>input {
    padding: 10px;
  }
}

.data-row {
  margin-top: 10px;
  height: 94%;
  border: 1px solid black;
  border-radius: 10px;

  >ul {
    overflow: scroll;
    height: 100%;
  }
}