.home {
  height: 100%;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

:host {

  ::ng-deep .p-multiselect,
  input {
    width: 20%;
  }
}

.data-row {
  margin-top: 10px;
  height: 94%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0;

  >ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    height: 100%;
  }
}