<div class="home">
  <div class="input-row">
    <form>
      <input
        pInputText
        name="query"
        type="text"
        placeholder="Search..."
        (keyup)="handleInput($event)" />

      <p-multiSelect
        [options]="authors"
        [(ngModel)]="selectedAuthors"
        name="authors"
        styleClass="author-select"
        (onChange)="onChange($event)"
        placeholder="Authors..." />
    </form>
  </div>

  <div class="data-row">
    <ul>
      @for (article of visibleArticles; track article) {
        <app-article [article]="article"></app-article>
      }
    </ul>
  </div>
</div>
